html {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background-color: rgb(231, 234, 237);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 20px;
}

form {
  display: flex;
  align-self: center;
  flex-direction: column;

  width: 40%;

  text-align: center;
}

form input {
  padding: 5px;

  border: 1px solid grey;
  border-radius: 5px;
}

form button {
  align-self: center;

  width: 100px;
  margin-top: 10px;
  padding: 8px;

  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(91, 177, 193);

  font-size: 15px;
}

.task-list {
  list-style-position: inside;
  list-style-type: decimal;
}
